# Copernicus Data Space Ecosystem (CDSE) Sentinel-2 OAuth Credentials Template
# Obtain your OAuth 2.0 Client ID & Secret from: https://dataspace.copernicus.eu

VITE_SENTINEL_CLIENT_ID=your_cdse_client_id_here
VITE_SENTINEL_CLIENT_SECRET=your_cdse_client_secret_here
